*{
    overflow-y: hidden;
}
#para1{
	background-color:#6a89cc
}
#para2{
	background-color:#fff
}
#para3{
	background-color:#e55039
}

p{
	font-size : 1.6rem;
}

h1{
	font-size : 8vw;
}

#logo{
	width:300px;
	display: block;
    margin-left: auto;
    margin-right: auto
}

table{
    border-collapse: collapse;
}

td{
  border: 1px solid black;  
}

.main{
    background-color: lightgray;
}

@media screen and (-webkit-max-device-pixel-ratio: 2), screen and (max-device-width: 480px){


}